@charset "UTF-8";

/* header logo 설정 */
header {
    position: absolute;
    top:0; left: 0; width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000;
    display: inline-block;
}
/* header nav 메뉴 설정 */
.headA {
    display:flex;
    line-height: 70px; padding: 0 70px;
    margin-top: 10px;
    background-color: var(--main-color);
    color: var(--text-bright-color);
    font-family: Montserrat, sans-serif;
    font-size: 15px; text-decoration: none;
    letter-spacing: 8px;
}

.headB ul {
    margin: 0; padding: 0; list-style: none;
    margin-top: 10px; display: flex;
}
.headB .nav1 {
    float: left;
}

.headB .nav2 {
    float: left;
    margin-left: 40px;
}

.headB a {
    display: block; padding: 15px;
    color: inherit;
    font-size: 12px;
    text-decoration: none;
}

.headB a:hover {
    color: black;
    font-weight: 1000;
}

.headC {
    outline: none;
    border: none; background: none;
    padding-top: 20px;
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
    opacity: 0.5;
}

/* large-scale screen */
@media screen and (min-width: 768px) {
    header .container {
        display: flex;
        align-items: center;
        justify-content: left;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }
    .headB ul { display: flex; list-style: none;}
    .headB a { font-size: 14px; }
    .headB {
        display: block !important;
    }
}
    @media screen and (max-width: 767px){
    header .container2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .headB {
        display: none;
    }
    .headC {
        outline: none;
        border: none; background: none;
        padding: 0;
        margin-right: 10px;
        font-size: 28px;
        cursor: pointer;
        opacity: 0.5;
    }

    .headC:hover {
        opacity: 0.3;
    }
}

/* footer: 주소, sns, submene */
footer h2{
    border: 0;
    background-color: var(--dark-main-color);
    color: var(--text-bright-color);
}

footer .container { 
    padding: 40px 20px;
}


footer .container{
    display:flex; flex-wrap: wrap;
    justify-content: center;
    /* max-width: 2000px; */
    margin-top: 30px;
}

.meme{flex: 0 0 20%};
.meme2{flex: 0 0 10%};
.meme3{flex: 0 0 56%};

.meme { padding-top: 50px;}
.meme li {list-style-type: none;
    padding-top: 15px;}
.meme a {text-decoration: none; 
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #333;}
.meme a:hover{
    color: black;
    font-weight: 1000;
}

.meme2 h2{
    margin-bottom: 25px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #333;
    font-weight: 700;
    padding-top:10px;
}
.meme3 h2{
    margin-bottom: 25px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #333;
    font-weight: 700;
    padding-top:10px;
}
.meme2 h3{
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    line-height: 32px;
    color: #333;
    font-weight: normal;
    margin-top:0px
}
.meme2 p{
    font-size: 13px;
    color: #888;
    line-height: 1.6;
    letter-spacing: 0.3px;
}
.meme3 p{
    font-size: 13px;
    color: #888;
    line-height: 1.6;
    letter-spacing: 0.3px;
}
.meme3 {
    padding-left:80px; 
}

.bottom{
    position: relative;
    margin: 0 auto;
    text-align: left;
    min-width:1263px;
}

.btn{
    display: inline-block;
    width: 145px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    background: #333;
}
.btn2{
    position:absolute;
    top:0px;;
    right:90px;
    display: block;
    width: 70px;
    height: 60px;
    font-family: 'Open Sans';
    font-size: 15px;
    line-height: 15px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    background: #333;
    box-sizing: border-box;
}

.meme4{
    top: 0;
    left: 0;
    line-height: 70px;
    font-size: 13px;
    color: #888;
}

/* item_list */
* {margin: 0; padding: 0;}
html, body {height: 100%;}
img {vertical-align: top; width: 100%; height: 100%;}
.all {height: 100%; display: flex; flex-direction: column;}
div.wrap {
    flex:1; display: flex; width: 100%;justify-content: center;}
main {margin-top: 150px;}
h1 {text-align: center; padding-bottom: 30px;}
.wrap nav {display: flex; justify-content: center; margin-top: 50px;}
nav .menu {width: 80px; height:40px;  text-align: center;}
nav .menu a {display: block; line-height: 40px; text-decoration: none; color: black;}
nav .menu a:hover {text-decoration: underline;}
nav .menu a:active {color: rgba(0, 0, 0, 0.5);}
h3 {margin: 50px 100px 50px 0;}
section {width: 1000px; display: flex; flex-wrap: wrap;}
section .wrap_item {display: flex; flex-direction: column; flex-basis: 33.3%; align-items: center;}
section .wrap_item .item {flex: auto; overflow: hidden;}
.item img {width: 250px; height: 250px;}
.price {align-self: flex-start; margin-left: 40px;}